html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js')
    script(src='/public/main.js')
    script.
      var trafficData = !{JSON.stringify(traffic).replace(/<\//g, "<\\/")}
  body
    canvas#chart

    